@use '../base/typography' as *;
@use '../base/variables' as *;
.consultation__wrapper {
	position: relative;
	max-width: 1440px;
	height: 300px;
	margin: auto;
	margin-top: 80px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	@media (max-width: 1135px) {
		flex-direction: column;
	}

	@media (max-width: 520px) {
		height: 350px;
	}
}
.consultation__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include body('large');
	color: $color-white;
	padding: 0 1rem;
	text-align: center;
}
.h3consultation__heading {
	text-align: center;
	@include heading(4);
	margin-bottom: 30px;
	color: $color-white;

	@media (max-width: 835px) {
		padding: 0 1rem;
	}

	@media (max-width: 520px) {
		font-size: 28px;
	}
}
.consultation__btn {
	font-weight: 600;
	font-size: 18px;
	color: $color-white;
	width: 230px;
	height: 52px;
	border: 2px solid $color-white;
	cursor: pointer;
}
