@use '../utils/variables' as *;

.common {
	font-family: inherit;
}

.heading {
	color: $color-800;
	@extend .common;

	&--1 {
		@extend .heading;

		font-weight: 600;
		font-size: 72px;
		line-height: 84px;
	}

	&--2 {
		@extend .heading;

		font-weight: 700;
		font-size: 60px;
		line-height: 70px;
	}

	&--3 {
		@extend .heading;

		font-weight: 600;
		font-size: 48px;
		line-height: 56px;
	}

	&--4 {
		@extend .heading;

		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
	}

	&--5 {
		@extend .heading;

		font-weight: 500;
		font-size: 30px;
		line-height: 35px;
	}
}

.body {
	@extend .common;

	&--medium {
		@extend .body;

		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
	}

	&--large {
		@extend .body;

		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
	}

	&--default {
		@extend .body;

		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}
}

.subtitle {
	@extend .common;

	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.caption {
	@extend .common;

	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}
