$color-primary: hsla(225, 58%, 49%, 1);
$color-secondary: hsla(26, 90%, 64%, 1);
$color-white: hsla(0, 0%, 100%, 1);
$color-900: hsla(220, 19%, 10%, 1);
$color-800: hsla(220, 14%, 22%, 1);
$color-700: hsla(220, 17%, 35%, 1);
$color-600: hsla(220, 22%, 47%, 1);
$color-500: hsla(220, 31%, 60%, 1);
$color-400: hsla(220, 30%, 67%, 1);
$color-300: hsla(220, 23%, 77%, 1);
$color-200: hsla(220, 14%, 85%, 1);
$color-100: hsla(220, 20%, 92%, 1);
$color-50: hsla(170, 19%, 97%, 1);
