@use '../base/variables' as *;
@use '../base/typography' as *;

.SliderButton {
	background: $color-800;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&--normal {
		@extend .SliderButton;

		width: 200px;
		height: 40px;
	}

	&--large {
		@extend .SliderButton;

		width: 295px;
		height: 65px;
	}

	&__text {
		@include body('default');
		color: $color-100;
		cursor: pointer;

		margin-left: 10px;
	}

	&:hover {
		filter: brightness(135%);
		transition: filter 0.3s ease-in;
	}
}
