@use '../utils/variables' as *;
@use '../base/typography' as *;

.header {
	height: 80px;
	padding: 1rem 2rem;

	position: fixed;
	z-index: 5;
	inset: 0;

	background-color: $color-white;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
}

.header__nav {
	display: flex;
}

.header__nav-list {
	display: flex;
	align-items: center;
	height: 100%;

	@media (max-width: 825px) {
		& {
			display: none;
		}
	}
}

.header__nav-list > li {
	margin-right: 50px;
	cursor: pointer;
	color: inherit;

	&:hover {
		color: $color-secondary;
		transition: color 0.5s;
	}
}

.header__nav-list > li:last-of-type {
	margin-right: 0;
}

.header__btn {
	@media (min-width: 825px) {
		& {
			display: none;
		}
	}
}

/* Mobile */

.header__mobile-menu {
	position: fixed;
	z-index: 2;
	inset: 0;

	margin-top: 80px;
	height: 100%;

	display: flex;
	justify-content: center;

	background-color: $color-white;
}

.header__nav--mobile {
	display: flex;
	flex-direction: column;

	justify-content: flex-start;

	height: 100%;
	width: fit-content;
}

.header__nav-list--mobile {
	text-align: center;
	margin-top: 120px;

	& > li {
		margin-bottom: 1.5rem;
	}

	& > li:last-of-type {
		margin-bottom: 0;
	}

	& > li > a {
		@extend .body--default;

		font-size: 2rem;
	}
}
